[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Khajiit
[access "refs/for/refs/*"]
	read = group user/Khajiit
	push = group user/Khajiit
	label-Code-Review = -2..+2 group user/Khajiit
	label-Verified = -1..+1 group user/Khajiit
	rebase = group user/Khajiit
	removeReviewer = group user/Khajiit
	submit = group user/Khajiit
[access "refs/heads/*"]
	read = group user/Khajiit
	create = group user/Khajiit
	push = +force group user/Khajiit
	pushMerge = group user/Khajiit
[access "refs/tags/*"]
	push = +force group user/Khajiit
	pushTag = group user/Khajiit
	pushSignedTag = group user/Khajiit
